body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #F4FFC3; 
    font-size: 20px;
    padding: 25px 20px;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header-content h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.phone-number {
    font-size: 1em;
    color: #333;
    display: flex;
    align-items: center;
}

.phone-number i {
    margin-right: 10px;
    color: #5D8736;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #5D8736;
    font-size: 2.5em;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: #333;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #4caf50;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #5D8736; 
}

nav a {
    color: white;
    padding: 20px 30px;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    height: 100%;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #FF9D23;
}

.hero {
    background-image: url('background_image_corn.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 3.5em;
    color:  #FFE4B5;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
    font-size: 1.8em;
    color: #FFE4B5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.hero-button {
    background-color: #FFA500;
    color: #333;
    padding: 15px 35px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make it behave like a button */
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #FFD166;
}

.hero button {
    background-color: #FFA500;
    color: #333;
    padding: 15px 35px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.hero button:hover {
    background-color: #FFD166;
}

#service {
    padding: 50px 20px;
    text-align: center;
    background-color: #f9f9f9;
    margin-bottom: 100px;
}

#service h2 {
    font-size: 2.5em;
    color: #5D8736;
    margin-bottom: 40px;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.service-item {
    text-decoration: none;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 25px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.service-item:hover {
    transform: translateY(-10px);
}

.service-item h3 {
    font-size: 1.5em;
    color: #5D8736;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 1em;
    color: #333;
}

footer {
    background-color: #809D3C;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}